html {
    font-family: "Mulish";
    scroll-behavior: smooth;
}

:root {
    --header-background-color: transparent;
    --header-border-color: transparent;
    --header-shadow-color: transparent;
    --header-text-color: transparent;

    --acrylic-effect: blur(15px);

    --box-border-color: transparent;
    --box-background-color: transparent;
    --box-shadow-color: transparent;

    --box-header-background-color: rgb(228, 228, 228);

    --download-button-background-color: green;
    --download-button-color: white;
    --download-button-hover-background-color: rgb(4, 160, 4);
    --download-button-active-background-color: rgb(4, 177, 4);
    --download-button-hover-shadow-color: rgba(0, 0, 0, 0.342);
    --download-button-active-shadow-color: rgba(0, 0, 0, 0.568);

    --context-menu-background-color: rgba(236, 236, 236, 0.644);
    --context-menu-shadow-color: rgba(0, 0, 0, 0.438);

    --footer-link-color: black;

    --lang-button-border-color: rgb(172, 172, 172);

    --social-button-border-color: rgb(221, 221, 221);
    --social-button-background-color: transparent;

    --body-background-color: transparent;

    --scrollbar-thumb-background-color: transparent;

    --elastic-cubic-animation: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%);
    ;

    --dark-light-button-icon: none;
    --dark-light-button-background-color: transparent;

    --download-icon: none;
}

.logo {
    background-image: url(icons/favicon_180x180.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    image-rendering: auto;

    width: 50px;
    height: 50px;
    overflow-x: hidden;
}

.mulish {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    margin: 0px;
    /* overflow-x: hidden; */

    background-color: var(--body-background-color);
    color: var(--header-text-color);

    transition: background-color 0.3s ease, color 0.3s ease;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background-color);
    border-radius: 10px;
    box-shadow: 0px -10px 10px rgba(122, 122, 122, 0.637) inset, 0px 5px 10px rgba(119, 119, 119, 0.192);
}

body.light {
    --header-link-color: rgb(42, 57, 143);
    --header-link-hover-background-color: rgb(213, 206, 255);
    --header-link-active-background-color: rgb(184, 170, 255);

    --header-background-color: rgb(224, 224, 224);
    --header-border-color: rgba(131, 131, 131, 0.61);
    --header-shadow-color: rgba(0, 0, 0, 0.5);
    --header-text-color: rgb(0, 0, 0);

    --box-border-color: rgb(136, 136, 136);
    --box-background-color: white;
    --box-shadow-color: rgba(128, 128, 128, 0.534);

    --box-header-background-color: rgb(228, 228, 228);

    --download-button-background-color: green;
    --download-button-color: white;
    --download-button-hover-background-color: rgb(4, 160, 4);
    --download-button-active-background-color: rgb(4, 177, 4);
    --download-button-hover-shadow-color: rgba(0, 0, 0, 0.342);
    --download-button-active-shadow-color: rgba(0, 0, 0, 0.568);

    --context-menu-background-color: rgba(236, 236, 236, 0.644);
    --context-menu-shadow-color: rgba(0, 0, 0, 0.438);

    --footer-link-color: black;

    --lang-button-border-color: rgb(172, 172, 172);

    --social-button-border-color: rgb(221, 221, 221);
    --social-button-background-color: rgb(238, 238, 238);

    --body-background-color: white;

    --dark-light-button-icon: url(icons/light_mode.svg);
    --dark-light-button-background-color: rgb(255, 255, 255);

    --scrollbar-thumb-background-color: rgb(194, 194, 194);

    --download-icon: url(icons/download.svg);
}

body.dark {
    --header-background-color: rgb(73, 73, 73);
    --header-border-color: rgba(131, 131, 131, 0.61);
    --header-shadow-color: rgba(0, 0, 0, 0.5);
    --header-text-color: rgb(255, 255, 255);

    --scroll-to-up-button-background-color: rgba(138, 138, 138, 0.555);

    --box-border-color: rgb(71, 71, 71);
    --box-background-color: rgb(61, 61, 61);
    --box-shadow-color: rgba(0, 0, 0, 0.534);

    --box-header-background-color: rgb(116, 116, 116);

    --download-button-background-color: green;
    --download-button-color: white;
    --download-button-hover-background-color: rgb(4, 160, 4);
    --download-button-active-background-color: rgb(4, 177, 4);
    --download-button-hover-shadow-color: rgba(0, 0, 0, 0.342);
    --download-button-active-shadow-color: rgba(0, 0, 0, 0.568);

    --context-menu-background-color: rgba(236, 236, 236, 0.644);
    --context-menu-shadow-color: rgba(0, 0, 0, 0.438);

    --lang-button-border-color: rgb(172, 172, 172);

    --social-button-border-color: rgb(100, 100, 100);
        --social-button-background-color: rgb(255, 255, 255);

    --body-background-color: rgb(34, 34, 34);

    --dark-light-button-icon: url(icons/dark_mode.svg);
    --dark-light-button-background-color: rgb(255, 255, 255);

    --scrollbar-thumb-background-color: rgb(119, 119, 119);

    --download-icon: url(icons/download_dark.svg);
}

.header_container {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.left_items {
    display: inline-flex;
    align-items: center;

    gap: 0.7rem;
}

.app_name {
    transition: color 0.3s ease;
}

.right_items {
    display: inline-flex;
    gap: 1rem;

    align-items: center;
}

header {
    background-color: var(--header-background-color);
    border-bottom: 1.5px var(--header-border-color) inset;
    box-shadow: 0px 5px 10px var(--header-shadow-color);
    border-radius: 20px;

    transition: all 0.3s ease;

    position: relative;

    margin: 15px;

    animation-name: header_slide_anim;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.dark_light_mode_button {
    width: 48px;
    height: 48px;

    cursor: pointer;
    user-select: none;

    border-radius: 50%;

    background-image: var(--dark-light-button-icon);
    background-color: var(--dark-light-button-background-color);

    box-shadow: 0px -10px 10px rgba(122, 122, 122, 0.24) inset, 0px 5px 10px rgba(119, 119, 119, 0.185);

    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;

    transition: all 0.3s ease, transform 1.5s var(--elastic-cubic-animation);
}

.dark_light_mode_button:hover {
    transform: scale(1.1);
}

.dark_light_mode_button:active {
    transform: scale(0.9);
}

@keyframes header_slide_anim {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes section_slide_anim {
    from {
        transform: translateX(-5%);
        opacity: 0;
    }

    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

g,
path {
    fill: inherit;
}

#copyright_year {
    font-size: inherit;
}


main {
    max-width: max-content;
    margin: 0px auto;
}

ol, ul{
    padding-inline-start: 1.5rem;
}

li {
    margin: 10px;
}

h1 {
    font-size: 1.8rem;
}

h3 {
    padding-top: 15px;

    font-size: 1.3rem;
}

span {
    font-size: 1rem;
}

.section_second {
    display: grid;
}

section {
    margin-top: 60px;
}

.screenshot_container {
    margin-left: -30px;
    display: inline-grid;
    justify-items: center;
}

.box h1 {
    background-color: var(--box-header-background-color);
    border-radius: 50%;

    padding: 5px 13.5px;

    box-shadow: 0px -10px 10px rgba(122, 122, 122, 0.24) inset, 0px 5px 10px rgba(119, 119, 119, 0.185);

    transition: all 0.3s ease;
}

.box {
    border: 1px var(--box-border-color) solid;
    border-radius: 20px;

    background-color: var(--box-background-color);

    display: inline-flex;
    align-items: center;
    max-width: 50rem;

    padding-inline: 20px;
    margin-top: 15px;

    user-select: none;

    box-shadow: 0px 3px 10px var(--box-shadow-color);

    cursor: default;

    transition: transform 0.3s var(--elastic-cubic-animation), all 0.3s ease;
}

.box:hover {
    transform: translateY(2%);
}

.box_main_text {
    padding-left: 10px;
}

.download_link {
    color: green;
    text-decoration: none;
}

.download_link:hover {
    text-decoration: underline;
}

.download_icon {
    background-image: var(--download-icon);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 32px;
    height: 32px;

    transition: background-image 0.3s ease;
}

.download_btn {
    background-color: var(--download-button-background-color);
    color: var(--download-button-color);

    display: inline-grid;

    border-radius: 20px;

    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;

    padding: 10px 20px;

    cursor: pointer;

    margin-inline-end: 10px;

    transition: all 0.3s ease, transform 1.3s var(--elastic-cubic-animation);
}

.download_btn:hover {
    box-shadow: 0px 2px 10px var(--download-button-hover-shadow-color);
    background-color: var(--download-button-hover-background-color);
    transform: scale(1.05);
}

.download_btn:active {
    box-shadow: 0px 2px 10px var(--download-button-active-shadow-color);
    background-color: var(--download-button-active-background-color);
    transform: scale(0.98);
}

.download_container div {
    display: inline-grid;
    justify-items: center;
    text-align: center;
    max-width: 300px;
}

.vertical_separator {
    width: 1px;
    height: 2rem;
    background-color: black;
}

footer {
    background-color: var(--header-background-color);
    border-bottom: 1.5px var(--header-border-color) outset;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

    transition: all 0.3s ease;

    overflow: auto;

    position: relative;

    margin: 15px;

    border-radius: 20px;

    padding: 15px 0px;

    margin-top: 70px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-inline: 1rem;
    gap: 0.5rem;
}

.lang_container {
    display: inline-flex;
    align-items: center;
    gap: 5px;

    user-select: none;
    cursor: pointer;

    padding: 10px;

    border-radius: 5px;

    transition: background-color 0.3s ease-in-out, transform 1.5s var(--elastic-cubic-animation);
    box-shadow: 0px -10px 10px rgba(122, 122, 122, 0.24) inset, 0px 2.5px 2px rgba(119, 119, 119, 0.575), 0px 2.5px 5px rgba(119, 119, 119, 0.199) inset;
}

.lang_selector {
    display: inline-flex;
    align-items: center;

    color: var(--header-text-color);

    transition: color 0.3s ease;
}

.lang_container:hover {
    background-color: rgba(182, 182, 182, 0.692);
    transform: scale(1.05);
}

.lang_container:active,
.lang_container.hot {
    background-color: rgba(156, 156, 156, 0.692);
    transform: scale(0.95);
}

.lang_container.hot .expander {
    transform: rotate(-180deg);
}

#default_svg{
    transition: transform 1.5s var(--elastic-cubic-animation), fill 0.3s ease;
    fill: var(--header-text-color);
}

.windows_icon{
    margin-top: 10px;
}

.context_menu {
    display: block;

    z-index: 999;

    position: absolute;

    right: 30px;
    top: 90px;

    background-color: var(--context-menu-background-color);
    backdrop-filter: var(--acrylic-effect);

    border-radius: 10px;

    padding: 10px;

    box-shadow: 0px 7px 10px var(--context-menu-shadow-color);

    /* max-width: max-content; */
    /* margin: 0 auto; */

    transition: all 0.3s ease, filter 0.4s ease, transform 1.5s var(--elastic-cubic-animation);
}

.menu_items {
    padding-top: 10px;
}

.context_menu_label {
    max-width: max-content;
    margin: 0 auto;
    user-select: none;

    color: var(--header-text-color);
}

.context_menu.active {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0px);
    visibility: visible;
}

.context_menu.hidden {
    transform: translateY(-10%);
    opacity: 0;
    filter: blur(5px);
    visibility: hidden;
}

.menu_item_container {
    display: inline-block;
}

.menu_item {
    max-width: max-content;
    margin: 0 auto;
}

.menu_item_container {
    user-select: none;

    padding: 10px;

    cursor: pointer;

    border-radius: 5px;

    transition: all 0.2s ease;
}

.menu_item_container:hover {
    background-color: rgba(196, 196, 196, 0.445);
}

.menu_item_container:active {
    background-color: rgba(165, 165, 165, 0.493);
}

.flag_expander_icon {
    background: url(icons/flag_en.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 24px;
    height: 24px;
}

.menu_item_flag_icon {
    width: 48px;
    height: 48px;
}

#flag_en {
    background: url(icons/flag_en.svg);
}

#flag_ru {
    background: url(icons/flag_ru.svg);
}

#flag_uk {
    background: url(icons/flag_uk.svg);
}

#flag_gb {
    background: url(icons/flag_gb.svg);
}

#en_item {
    border: 1.5px var(--lang-button-border-color) solid;
}

.footer_social_button {
    width: 48px;
    height: 48px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.social_button_container:hover {
    filter: brightness(1.06);
    transform: translateY(3%)
}

.social_button_container:active {
    filter: brightness(1.1);
    transform: scale(0.95);
}

.social_button_container {
    margin-inline: 5px;
    padding: 5px;

    border: 2px var(--social-button-border-color) solid;
    border-radius: 15px;

    background-color: var(--social-button-background-color);

    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.301), 0px 2.5px 5px rgba(119, 119, 119, 0.199) inset;

    transition: transform 1.3s var(--elastic-cubic-animation), border-color 0.2s ease-in-out, box-shadow 0.3s ease, filter 0.3s ease;
}

#tg {
    background-image: url(icons/telegram.svg);
}

#yt {
    background-image: url(icons/youtube.svg);
}

#tw {
    background-image: url(icons/twitter.svg);
}

#wb {
    background-image: url(icons/web.svg);
}

.footer_right_items {
    display: inline-flex;
}

.footer_left_items {
    display: inline-flex;
    align-items: center;
    gap: 0.7rem;
}

.footer_center_items {
    display: inline-flex;
    align-items: center;
    text-align: center;
}

#focus_link{
    color: var(--header-text-color);
    text-decoration: none;

    transition: color 0.3s ease;

    display: inherit;
    align-items: inherit;
    
    gap: 0.7rem;
}

.footer_link {
    display: flex;
    align-items: center;

    max-height: max-content;

    margin-inline: 10px;
}

.footer_link:link {
    color: var(--footer-link-color);
    text-decoration: solid;
}